.App {
  text-align: center;
}

.App-header {
  background-color: blue;
  min-height: 137px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  align-content: flex-start;
  background-color: green;
  border-radius: 5px;
}
.App-heading {
  text-align: center;
}
.App-link {
  color: #61dafb;
}
